html {
    font-family: 'Roboto Condensed', sans-serif;
}

#mainnav {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 1;
}

#mainnav li {
    margin: 55px 0;
    left: -550px;
    position: relative;
    display: none;
}

#mainnav a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

.hamb {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2.5em;
    z-index: 1;
}

.hamb a {
    color: #fff;
    text-decoration: none;
}

html,
body,
.hero {
    height: 100%;
}

#bubble {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    display: none;
    z-index: 1;
    background: rgba(0, 0, 0, .9);
}

.gap {
    color: white;
    margin-top: 100px;
    width: 200px;
}

h1 span {
    font-size: 90px;
    letter-spacing: 4;
    margin-left: -30px;
    color: white;
}